.page {
  display: grid;
  grid-template-columns: 1fr;
}

.stars-section {
  padding-top: 29px;
  padding-bottom: 12px;
  height: calc(100vh - 46px);
  min-height: 522px;
  background: url('./images/stars-bg.png');
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  & .text1 {
    color: var(--white);
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 23.85px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  & .text2 {
    margin-top: 15px;
    padding: 0 20px;
    color: var(--yellow);
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    line-height: 34.65px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
  }

  & .brain {
    width: 152px;
    height: 152px;
    filter: drop-shadow(0px 0px 60px #1d1ae09a);
  }

  & .text3 {
    white-space: pre-line;
    margin-top: 22px;
    color: var(--yellow);
    font-family: 'PT Serif', serif;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  & .text4 {
    color: var(--white);
    font-family: 'PT Serif', serif;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  & .more {
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  & .more-button {
    margin-top: 16px;
  }

  & .more-text {
    color: var(--white);
    font-family: 'PT Serif', serif;
    font-size: 8px;
    line-height: 10.6px;
    letter-spacing: 0.05em;
    text-align: center;
  }
}

.quotation-section {
  padding-top: 44px;
  padding-bottom: 32px;
  min-height: 228px;
  background: url('./images/flash.png');
  display: grid;
  grid-template-columns: 1fr;

  & .quotation-start {
    padding-left: 24px;
  }

  & .text1 {
    margin-top: 13px;
    padding: 0 26px;
    white-space: pre-line;
    color: var(--white);
    font-family: 'Yeseva One', serif;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: center;
    background: radial-gradient(
      84.34% 50.29% at 48.75% 49.71%,
      #2950c2 0%,
      rgba(38, 91, 199, 0.96) 40.62%,
      rgba(39, 98, 187, 0) 85.42%
    );
  }

  & .quotation-end {
    justify-self: end;
    margin-top: -11px;
    padding-left: 28px;
    transform: rotate(180deg);
  }
}

.white-section {
  padding-top: 37px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  & .text1 {
    white-space: pre-line;
    padding: 0 11px;
    color: #272727;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  & .brain-sections {
    margin-top: 27px;
    margin-bottom: -7px;
    padding: 0 44px;
  }
}

.lightning-section {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  padding-top: 56px;
  padding-bottom: 7px;
  background: url('./images/stars-bg.png');
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: start;

  & .lightning1 {
    width: 165px;
    height: 165px;
    position: absolute;
    right: -62px;
    top: 88px;
    transform: rotate(22deg);
  }

  & .lightning2 {
    width: 165px;
    height: 165px;
    position: absolute;
    left: -68px;
    bottom: 63px;
    transform: rotate(-31deg);
  }

  & .text1 {
    padding: 0 51px 0 14px;
    color: var(--white);
    font-family: 'Merriweather', serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  & span {
    color: var(--yellow);
  }

  & .text2 {
    color: var(--black);
    background: rgba(243, 243, 242, 0.8);
    margin: 19px 9px;
    padding: 30px 14px 24px;
    border-radius: 20px;
    font-family: Merriweather;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: left;
    z-index: 2;
  }

  & .button {
    margin-top: 17px;
    color: var(--white);
    background: none;
    border: 1px solid var(--white);
  }

  & .footer {
    margin-top: 55px;
    align-self: end;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto', serif;
    font-size: 10px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: center;
  }
}
