.page {
  display: grid;
  grid-template-columns: 1fr;
}

.stars-section {
  padding-top: 29px;
  padding-bottom: 12px;
  height: calc(100vh - 46px);
  min-height: 522px;
  background: url('../../assets/images/stars-bg.png');
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  & .text1 {
    color: var(--white);
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 23.85px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  & .text2 {
    margin-top: 15px;
    padding: 0 20px;
    color: var(--yellow);
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    line-height: 34.65px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
  }

  & .brain {
    width: 152px;
    height: 152px;
    filter: drop-shadow(0px 0px 60px #1d1ae09a);
  }

  & .text3 {
    white-space: pre-line;
    margin-top: 22px;
    color: var(--yellow);
    font-family: 'PT Serif', serif;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  & .text4 {
    color: var(--white);
    font-family: 'PT Serif', serif;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  & .more {
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  & .more-button {
    margin-top: 16px;
  }

  & .more-text {
    color: var(--white);
    font-family: 'PT Serif', serif;
    font-size: 8px;
    line-height: 10.6px;
    letter-spacing: 0.05em;
    text-align: center;
  }
}
