.button {
  cursor: pointer;
  border: none;
  background: #eb1b00;
  color: var(--white);
  border-radius: 5px;
  font-family: 'Roboto', serif;
  font-size: 15px;
  line-height: 17.58px;
  letter-spacing: 0.05em;
  text-align: left;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  margin: 7px 16px;
  padding: 32px 15px 24px 14px;
  gap: 18px;
  position: relative;
  z-index: 2;

  &:disabled {
    color: #3d3d3d;
    filter: grayscale(100%);
  }
}
