.button {
  width: 189px;
  height: 41px;
  padding: 13px 17px 10px;
  border-radius: 20px;
  border: none;
  background: var(--yellow);
  color: var(--black-text);
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 17.6px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
